<% if obj.errors.any? %>
	<div class="alert alert-danger">
	<h4> <%= obj.class.name %> could not be created due to the following conditions:- </h4>
	<ul>
		<% obj.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
	</div>
<% end %>